*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

html,body{
 width: 100%;
 height: 100vh;
}

body{
    background: linear-gradient(to right bottom , rgb(1, 1, 172), purple);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    width:40%;
    min-height:200px ;
    /* height: 400px; */
    background-color: white;
    border-radius: 5px;
    /* padding: 40px; */
}

.header{
    background-color: rgb(108, 108, 246);
}

.header h1{
    text-align: center;
    padding: 10px;
    color: white;
}

.search{
    /* border: 1px solid black; */
    padding: 0 40px;
    display: flex;
    justify-content: space-between ;
    margin-top:20px;
}

.search .main-input{
   width: 70%;
   padding: 15px 10px;
   border-radius: 30px;
   outline: none;
   border: none;
   background-color: rgb(166, 165, 165);
   font-size: larger;
   color: white;
}

.search .submit{
    background-color: rgb(252, 95, 11);
    padding: 10px;
    color:white;
    font-weight: 700;
    border-radius: 30px;
    width:100px;
    border: none;
    cursor: pointer;
}

.list-container{
    /* border: 1px solid black; */
    padding:0 40px;
    margin: 25px 0;
    
}

li{
    list-style: none;
    font-size: 20px;
    padding:10px 50px;
    position: relative;
    border: 1px solid gray;
    margin-bottom: 5px;
    
}




.list-container li span{
    position: absolute;
    right: 10px;
    bottom:5px;;
    padding: 5px 10px;
    /* text-align: center; */
}

.list-container li span:hover{
    cursor: pointer;
    background-color: bisque;
    border-radius: 5px;
}

/* .list-container li::before{

} */

.checked{
text-decoration: line-through;
}

.list-container li::before{
    content:" ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('./images/unchecked.webp');
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

.list-container li.checked::before{
    background-image: url("./images/checked.webp");
}

.editBtn{
    position:absolute;
    left:350px;
     background-color: yellow;
     margin-right: 50px;
}

